*{
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div,
p {
    display: block;
}

header,
section,
footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;
}

section,
.container {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
    height: auto;
}

$align: left;
$bg-color: #dedede;
$color-01: #595;
$color-02: #999;
$color-03: #f00;
$color-default: #444;
$font-big: 2.5rem;
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2rem;
$font-normal: 1.8rem;
$font-small: 1.2rem;
$mb: 2rem;
$mt: 1rem;
$mt-02: 2rem;

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
}

p {
    color: $color-01;
    font-size: $font-normal;
    text-align: $align;
}

h1 {
    color: $color-01;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-03;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

.cars {
    
}